*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------ global variables -------------- */

:root {
    --light: #fff;
    --accent-red: #D40511;
    --red-light: #d71635;
    --accent-yellow: #FFCC00;
    --accent-blue: #146BB0;
    --accent-green: #6D942D;
    
    --font-medium: 30px;
    --font-small: 20px;
    --info-gap: 20px;
    --info-border-radius: 8px;

    --rader-w: 1579px;
    --rader-h: 1198px;
    /* --rader-y: -34px; */
    --rader-y: -122.5px;
    /* --rader-y: -55.75px; */

    --rader-left-w: 678px;
    --rader-left-h: 395px;

   /*  --rader-right-h: 758px; */
    --rader-right-h: 1083px;
}

body {
    font-family: 'Delivery', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ------------ background ------------ */

.rader-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    top: -181px;
    left: 0;
}

.rader-bg > img {
    width: 100%;
}

/* ----------------- rader content wrapper ----------------- */

.rader-content-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    max-height: calc(var(--rader-right-h) + 24px);
}

/* -------------------- rader content left --------------------- */

.rader-content-left {
    width: var(--rader-left-w);
    height: calc(var(--rader-right-h) + 24px);
    max-height: calc(var(--rader-right-h) + 24px);
    display: grid;
    grid-template-rows: auto auto 1fr;
    margin-left: 55px;
    z-index: 1;
}

.main-logo-wrapper {
    transform: translateX(-17px);
    margin-top: 24px;
}

.rader-info-header {
    width: 100%;
    color: var(--light);
    display: flex;
    align-items: center;
    transform: translateY(-24px);
}

.rader-info-header  p {
    font-size: var(--font-medium);
    font-weight: bold;
}

.rader-info-header > a {
    font-size: var(--font-small);
    color: var(--light);
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    padding-right: calc(var(--info-gap) + 5px);
    margin-left: auto;
}

.rader-info-wrapper {
    max-width: 100%;
    position: relative;
    grid-row: 3 / 4;
    transform: translateY(-24px);
    height: auto;
    /* overflow: hidden; */
}

.rader-info-wrapper::after {
    content: '';
    width: calc(100% - var(--info-gap));
    position: absolute;
    height: 175px;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-image: linear-gradient(180deg, rgba(4, 13, 52, 0) 0%, #040c29 100%);
}

.rader-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    width: 100%;
    gap: var(--info-gap);
    /* margin-top: 22px; */
    /* overflow-y: auto; */
}



/* custom rader info scrollbar */

.rader-info::-webkit-scrollbar {
    width: 5px;
    background-color: var(--light);
}

.rader-info::-webkit-scrollbar-thumb {
    background-color: var(--accent-red);
}

/* rader info data */

.rader-info-data {
    width: calc(50% - var(--info-gap));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13.29px 18.5px;
    border-radius: var(--info-border-radius);
    background-image: url('./images/info-inner-bg.png');
    background-position: center;
    background-size: cover;
    border: 1px solid var(--light);
    position: relative;
    z-index: 10;
    cursor: grab;
}

.rader-info-data.on-dragging,
.rader-info-data.dragged {
    padding: 0;
    width: max-content;
    border: none;
    background-image: unset;
    cursor: grab;
    z-index: -10;
    position: absolute;
}


.rader-info-data.dragged {
    cursor: grab;
}

.rader-info-data.on-dragging {
    cursor: grabbing;
}

.rader-info-data.on-dragging  p,
.rader-info-data.dragged p {
    color: #000;
    font-size: var(--font-small);
}

.rader-info-data.on-dragging  p {
    display: none;
}

.rader-info-data.dragged p {
    display: inline-block;
}

.rader-info-data.on-dragging > .rader-info-data-right,
.rader-info-data.dragged > .rader-info-data-right {
    display: none;
}

.rader-info-data.on-dragging > .rader-info-data-left .mark,
 .rader-info-data.dragged > .rader-info-data-left .mark{
    background-color: var(--accent-green);
    width: 30px;
    height: 30px;
}

 .rader-info-data.dragged > .rader-info-data-left {
    gap: 10.4px;
 }

.rader-info-data.on-dragging > .rader-info-data-left .mark::before,
 .rader-info-data.dragged > .rader-info-data-left .mark::before {
    width: 13.5px;
    height: 13.5px;
 }


.rader-info-data-left {
    display: flex;
    align-items: center;
   /*  justify-content: space-between; */
    gap: 7.5px;
}

.mark {
    width: 18px;
    height: 18px;
    background-color: var(--accent-blue);
    position: relative;
    border-radius: 100vmin;
}

.mark::before {
    content: '';
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    background-color: var(--light);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100vmin;
}

.rader-info-data-left > p {
    color: var(--light);
    font-size: var(--font-small);
    font-weight: bold;
}

.rader-info-data-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12.49px;
}

/* --------------- rader content right -------------------- */

.rader-content-right {
    flex: 1 1 auto;
    width: auto;
    max-height: var(--rader-right-h);
    height: var(--rader-right-h);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filter-flex {
    display: flex;
    align-items: center;
    color: var(--light);
    gap: 7.09px;
    cursor: pointer;
    margin-top: 43.5px;
    z-index: 1;
    margin-right: 49px;
}

.filter-flex:hover {
    color: var(--accent-yellow);
}

.filter-flex:hover > img {
    filter: brightness(0) invert(68%) sepia(100%) saturate(475%) hue-rotate(359deg) brightness(102%) contrast(101%);
}

.filter-flex > span {
    font-size: 24px;
    font-weight: bold;
}

.rader-btn-group {
    z-index: 1;
    margin-right: 49px;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 19px;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-md {
    padding: 16px 76px;
    border-radius: var(--info-border-radius);
    font-size: 24px;
    font-weight: bold;
}

.btn-md-2 {
    padding: 16px;
    border-radius: var(--info-border-radius);
    font-size: 24px;
    font-weight: bold;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid var(--light);
    color: var(--light);
    transition: .3s;
}

.btn-transparent:hover {
    background-color: var(--accent-red);
    border: 1px solid transparent;
}

/* yellow gradient background */

.yellow-gradient {
    margin-top: 26px;
    transform: translateX(79px);
    width: 100%;
    height: 83px;
    z-index: 1;
    background: rgb(255,204,0);
    background: linear-gradient(270deg, rgba(255,204,0,1) 0%, rgba(255,204,0,0.4542191876750701) 58%, rgba(255,204,0,0) 100%);
}

/* ------------------- rader image, rotating section ------------------------- */

.rader-view {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.rader-background {
    position: absolute;
    width: var(--rader-w);
    height: var(--rader-h);
    display: block;
    background: url(./images/rader-bg.png);
    top: 0;
    left: 0;
    transform-origin: 0px 0px;
    transform: translate(calc((var(--rader-left-w) + 30px) / -4), var(--rader-y)) scale(1);
}

.rader-rotate {
    position: absolute;
    width: 931px;
    height: 931px;
    border-radius: 100vmin;
    top: calc(50% + var(--rader-y) + 32px);
    left: 50%;
    z-index: 10;
    transform: translate(-50%, calc(-50% - var(--rader-y) + 32px));
    animation: rotating 5s linear infinite;
}

.rader-rotate::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background-color: var(--red-light);
    border-radius: 100vmin;
}

@keyframes rotating {
    100% {
        transform: translate(-50%, calc(-50% - var(--rader-y) + 32px)) rotate(360deg);
    }
}

/* -------------------- rader circle section ------------------------ */

.rader-circle-wrapper {
    position: relative;
    width: 931px;
    height: 931px;
    border-radius: 100vmin;
    top: calc(50% + var(--rader-y) + 32px);
    left: 50%;
    opacity: 0;
    transition: .3s;
    z-index: -10;
    overflow: hidden;
    transform: translate(-50%, calc(-50% - var(--rader-y) + 32px));
}

.rader-circle-flex {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    overflow: hidden;
    border-radius: 100vmin;
}

.transparent-clip-one, .transparent-clip-two {
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 100;
    transform-origin: bottom right;
    /* background-color: var(--accent-green); */
}

.transparent-clip-one {
    rotate: 216deg;
}

.transparent-clip-two {
    rotate: -126deg;
}

.rader-circle-half {
    display: flex;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.rader-child-wrapper {
    min-width: 200%;
    height: 100%;
}

.rader-path {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 100vmin;
}

.rader-sectors {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: all .3s ease;
    background-color: #FFDD7E;
}

.rader-sectors::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.25);
    opacity: 0;
    transition: all .3s ease;
}

/* .rader-circle-left-path .rader-sectors::after {
    clip-path: polygon(11% 0, 100% 100%, 100% 0);
} */

.rader-sectors.dropped::after {
    opacity: 1;
}

.rader-sectors.ui-droppable-hover::after {
    opacity: 1;
}

.rader-circle-left-path .rader-sectors {
    top: 0;
    left: 0;
    transform-origin: bottom right;
    border-right: 2px solid #fff;
}

.rader-circle-left-path .rader-sectors.sector-one {
    transform: rotate(0deg);
}

.rader-circle-left-path .rader-sectors.sector-two {
    transform: rotate(-42deg);
}

.rader-circle-left-path .rader-sectors.sector-three {
    transform: rotate(-84deg);
}

.rader-circle-left-path .rader-sectors.sector-four {
    transform: rotate(-126deg);
    overflow: hidden;
}

.rader-circle-right-path .rader-sectors {
    top: 0;
    right: 0;
    transform-origin: bottom left;
}

.rader-circle-right-path .rader-sectors:not(:first-of-type) {
    border-left: 2px solid #fff;
}

.rader-circle-right-path .rader-sectors.sector-one {
    transform: rotate(0deg);
}

.rader-circle-right-path .rader-sectors.sector-two {
    transform: rotate(42deg);
}

.rader-circle-right-path .rader-sectors.sector-three {
    transform: rotate(84deg);
}

.rader-circle-right-path .rader-sectors.sector-four {
    transform: rotate(126deg);
}

.rader-circle-child {
    width: calc(100% - 125px);
    height: calc(100% - 125px);
    border: 2px solid #fff;
}

.rader-center {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    background:#FFE59D;
    border-radius: 50%;
}

.rader-center-inner {
    width: 36px;
    height: 36px;
    background: var(--red-light);
    border-radius: 50%;
}

/* drag and drop */

.ui-draggable-dragging {
    cursor: grabbing;
}

.ui-draggable-handle {
    touch-action: none;
}